<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aayushgarg.rtu_old_paper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/log2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Branch" />
        <activity android:name=".Papers" />
        <activity android:name=".aboutUs" />
        <activity android:name=".Paperyear" />
        <activity android:name=".Download" />
        <activity android:name=".folder" />
        <activity android:name=".Login_Page" />
        <activity android:name=".Reset_Password" />
        <activity android:name=".Sign_up" />

        <receiver android:name=".Reciver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".opption" />
        <activity android:name=".Books" />
        <activity android:name=".Help" />
        <activity android:name=".tranning" />
        <activity
            android:name=".dumy"
            android:label="@string/title_activity_dumy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Syallabus"></activity>
    </application>

</manifest>